page-image-detail {

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .btn-speak-again {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    margin: 0;
    height: 100px;
    border-radius: 0;
    font-weight: bold;
    font-size: 2rem;
  }

  .container-description {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.5);
  }

  .image-description {
    position: relative;
    top: 20%;
    left: 50%;
    z-index: 3;
    float: left;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 3rem;
    transform: translate(-50%, -50%);
  }

}
