.aieyes-components-page {

  ion-card {
    margin-bottom: 2em;
  }

  ion-card-content {
    background-color: #f4f5f8;
  }

  ion-card img {
    width: auto;
    height: 300px;
    display: block;
    margin: 20px auto;
  }

}